@media only screen and (max-width: 1500px) {

	.scroll-top {
	    right: -7%;
	}

}

@media only screen and (max-width: 1360px) {

	.scroll-top {
	    right: -2%;
	}

}

@media only screen and (max-width: 1270px) {

	.good-templ .left {
	    width: 43%;
	}

	.good-templ .right {
	    width: 57%;
	}

	.big-slider .img-box {
	    height: 390px;
	}

	.miniature-slider .img-box {
	    height: 80px;
	}

	.big-slider .slick-arrow {
		margin-top: -23px !important;
	}

	.big-slider .slick-prev {
	    left: 15px !important;
	}

	.big-slider .slick-next {
	    right: 15px !important;
	}

}

@media only screen and (max-width: 1245px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.main-nav li {
	    padding: 3px 4px;
	}

	/*-- /Header --*/

	.scroll-top {
	    right: 7px;
	}

}

@media only screen and (max-width: 1170px) {

	.slick-slider .slick-prev {
	    left: 0;
	}

	.slick-slider .slick-next {
	    right: 0;
	}

	/*-- Header --*/

	.header-site .left {
	    padding: 6px 10px 4px 0;
	}

	.header-site .right {
	    padding: 7px 0 4px 10px;
	}

	.header-site .row-2 .left {
	    width: 50%;
	    padding: 28px 80px 62px 0;
	}

	.header-site .row-2 .right {
	    width: 50%;
	    padding: 28px 0 62px 80px;
	}

	.logo {
		display: none;
	}

	.logo_resp {
		display: block;
	}

	/*-- /Header --*/

	/*-- Section 2 - Main Page --*/

	.catalog_thumb {
	    width: 50%;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 4 - Main Page --*/

	.articles_slider {
		display: none !important;
	}

	.article_thumb h3 {
	    padding: 1px 0;
	    font-size: 17px;
	    line-height: 1.2;
	}

	.article_thumb .brown_pill {
	    margin: 16px 0;
	}

	.articles_slider_2 {
	    display: block !important;
	}

	.articles_slider_2 .slick-prev {
	    left: -10px;
	}

	.articles_slider_2 .slick-next {
	    right: -10px;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 1 - Order Page --*/

	.two_cols_2 > .left {
	    width: 53%;
	    padding: 0 1.5% 0 0;
	}

	.two_cols_2 > .right {
	    width: 47%;
	    padding: 0 0 0 1.5%;
	}

	/*-- /Section 1 - Order Page --*/

	/*-- Section 1 - Good Page --*/

	.good-info_sect .inner-row {
	    padding: 20px 30px 15px 30px;
	}

	.good-info-header {
		display: block;
	}

	.good-info-header > .col:nth-child(1) {
	    display: block;
	    vertical-align: baseline;
	    width: 100%;
	    padding: 7px 0;
	}

	.good-info-header > .col:nth-child(2) {
	    display: block;
	    vertical-align: baseline;
	    width: 100%;
	    padding: 7px 0;
	    text-align: left;
	}

	.good-info-header > .col > div:nth-child(1) {
		width: 120px;
	}

	/*-- /Section 1 - Good Page --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Section 1 - Good Page --*/

	.good_table {
		display: block;
	}

	.good_table .table-row {
	    display: block;
	    margin: 20px 0;
	}

	.good_table .table-row:nth-child(1) {
	    display: none;
	}

	.good_table .table-row .cell {
		display: block;
	}

	.good_table h3 {
		padding: 0 0 0 30px;
	    font-size: 14px;
	    line-height: 15px;
	    color: #272220;
	}

	.good_table .cell {
		display: table !important;
		width: 100% !important;
		padding: 7px 0 !important;
	}

	.good_table h3.resp_h {
	    display: table-cell;
	    vertical-align: baseline;
		width: 180px;
	    color: #9c9a99;
	}

	.good_table .cell p {
	    display: table-cell;
	    vertical-align: baseline;
	    width: auto;
	}

	.good_table_wrapp {
		overflow: hidden;
		height: 320px;
		position: relative;
	}

	.good_table_wrapp:after {
		display: block;
		content: "";
		height: 40px;
		width: 100%;
		z-index: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
	}

	.slBtnWrapp {
		display: block !important;
	}

	/*-- /Section 1 - Good Page --*/

}

@media only screen and (max-width: 1050px) {

	/*-- Header --*/

	.header-site .left {
		width: 10%;
	}

	.header-site .right {
		width: 90%;
	}

	.soclink_box span {
		display: none;
	}

	.orange_pill {
		margin: 2px 0;
	    padding: 6px 10px;
	}

	.thumb_1 {
		display: inline-block;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
	}

	.thumb_1 .col:nth-child(1) {
		display: block;
	    width: 60px;
	}

	.thumb_1 .col:nth-child(2) {
		display: none;
	}

	.thumb_1 .col:nth-child(1) i {
	    margin: 0 auto;
	}

	.row_3_content > .col:nth-child(2) {
	    width: 190px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_box {
	    margin: 13px -15px 5px -15px;
	}

	.prmo_mg {
	    height: 300px;
	}

	.prmo_mg .description h3 {
	    font-size: 26px;
	    line-height: 26px;
	}

	.description_2 {
	    padding-bottom: 25px !important;
	}

	.description p.p-desc {
	    padding: 0 80px;
	    font-size: 18px;
	    line-height: 19px;
	}

	p.percents_minus {
	    padding: 2px 0 0 0;
	    font-size: 50px;
	    line-height: 57px;
	}

	.white_pill {
	    margin: 17px 0 3px 0;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.sidebar_sect {
	    padding: 16px 0 19px 0;
	}

	.dropdown_title {
	    font-size: 17px;
	    line-height: 27px;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 1 - Card Page --*/

	.card_table .table-row .inline-table .table-cell {
	    padding: 19px 10px;
	}

	.card_table .table-row:nth-child(1) .table-cell {
	    padding-top: 6px;
	}

	.card_table .table-row:nth-child(1) .table-cell {
	    padding-bottom: 25px;
	}

	.card_table .table-row .table-cell {
	    padding: 19px 10px;
	}

	.card_table .inline-table:nth-child(1) .table-cell:nth-child(1) {
	    width: 110px;
	    padding-left: 19px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(4) {
		padding-right: 40px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(4) .close_btn {
	    right: 40px;
	}

	.card_table .table-row:nth-child(1) .inline-table:nth-child(1) .table-cell:nth-child(1) {
	    padding-left: 20px;
	}

	.card_table_2 .table-row:nth-child(1) .table-cell {
	    padding-top: 14px;
	}

	.card_table .table-row:nth-child(1) .table-cell {
	    padding-bottom: 20px;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Good Page --*/

	.thumbnails_1_2 .thumb_1 .col:nth-child(1) {
	    display: table-cell;
	}

	.thumbnails_1_2 .thumb_1 .col:nth-child(2) {
	    display: table-cell;
	    text-align: left;
	}

	/*-- /Section 1 - Good Page --*/

	/*-- Footer --*/

	.footer_row_1 .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.footer_row_1 .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	    text-align: left;
	}

	.right_wrapp {
		max-width: 100%;
	}

	.callback_from_wrapp {
		display: table;
		width: 100%;
		margin: 17px 0;
	}

	.callback_from_wrapp .callback_from {
	 	display: table-cell;
	 	vertical-align: middle;
	 	width: 53%;
	 	margin: 0;
	}

	.callback_from_wrapp .p_wrapp {
		display: table-cell;
	 	vertical-align: middle;
	 	width: 47%;
	 	padding-left: 3%;
	}

	.footer_col {
	    width: 32%;
	}

	.footer_row_1 {
		padding-top: 28px !important;
	    padding-bottom: 62px !important;
	}

	.scroll-top_wrapp {
	    bottom: 163px;
	}

	.scroll-top {
	    right: 5px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Section 1 - Good Page --*/

	.good-info_sect .three-cols {
	    padding: 0 30px;
	}

	.three-cols {
	    display: block;
	}

	.three-cols .col {
		display: block;
	    width: 100%;
	    padding: 2px 0;
	}

	.inner-row_3 {
	    padding: 18px 30px 18px 30px;
	}

	.two-cols_4 {
	    display: block;
	}

	.two-cols_4 .col {
		display: block !important;
	    width: 100% !important;
	    padding: 0 !important;
	}

	.good-info_sect .thumbnails_1 {
	    margin-top: 9px;
	    margin-bottom: 12px;
	}

	.thumbnails_1_2 {
		display: block;
	}

	.thumbnails_1_2 .thumb_1 {
		display: table;
		width: 100%;
		max-width: 100%;
		margin: 5px 0;
	}

	.thumbnails_1_2 .thumb_1 .col:nth-child(1) {
	    display: table-cell;
	}

	.thumbnails_1_2 .thumb_1 .col:nth-child(2) {
	    display: table-cell;
	    text-align: left;
	}

	/*-- /Section 1 - Good Page --*/

}

@media only screen and (max-width: 900px) {

	h1 {
	    font-size: 26px;
	    line-height: 30px;
	}

	.breadcrumbs {
	    padding: 21px 0 10px 0;
	}

	/*-- Header --*/

	.favorite_wrapp {
	    display: none;
	}

	.favorite_2_wrapp {
		display: inline-block;
		vertical-align: top;
	}

	.callback_link .col:nth-child(1) {
	    width: 50px;
	    padding: 4px 3px;
	}

	.callback_icon {
	    width: 40px;
	    height: 40px;
	   	padding: 1px;
	}

	.callback {
	    width: 36px;
	    height: 36px;
	}

	.callback {
	    background-size: 50%;
	}

	.callback_link a {
	    font-size: 19px;
	}

	.callback_wrapp .whatsup_link {
	    right: -2px;
	}

	.callback_link .col:nth-child(2) .orange_pill {
		margin-top: -1px;
	}

	.header_card {	    
	    min-width: auto;
	    max-width: 244px;
		width: 100%;
	}

	.card_vals > div:nth-child(1) {
	    width: 49%;
	    padding-right: 1px;
	}

	.card_vals > div:nth-child(2) {
	    width: 51%;
	    padding-left: 1px;
	}

	.card_link .col:nth-child(1) {
	    width: 50px;
	}

	.card_link .col:nth-child(2) {
		padding: 5px 40px 2px 3px;
	}

	.card {
		width: 40px;
	    height: 40px;
	  	background-size: 57%;
	}

	.card_vals > div {
	    padding-top: 0px;
	    padding-bottom: 0;
	}

	.card:before {
	    width: 36px;
	    height: 36px;
	    top: 1px;
	    left: 1px;
	}

	.card_link h3 {
	    padding-bottom: 0;
	    font-size: 17px;
	    line-height: 17px;
	}

	.header_card .dropdown_btn {
	    right: 2px;
	}

	.card_item .inner {
	    padding: 4px 9px 4px 2px;
	}

	.card_item h3 {
		font-size: 14px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_box .left {
		float: none;
	}

	.promo_box .right {
		float: none;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.two-cols .left {
	    width: 212px;
	}

	.two-cols .right {
	    width: calc(100% - 212px);
	    padding-left: 15px;
	}

	.sidebar {
	    margin-top: 7px;
	}

	.dropdowm_list {
	    padding-left: 5px;
	}

	.dropdown_item .dropdown_title {
	    padding-left: 24px;
	    font-size: 12px;
	}

	.catalog_thumbs {
	    margin: 31px 0 15px 0;
	}

	.btns_wrapp {
	    margin: 0;
	}

	.catalog_thumb {
	    height: 422px;
	}

	.catalog_thumb h3 {
	    font-size: 17px;
	    line-height: 19px;
	}

	.catalog_thumb .inner {
	    height: 423px;
	}

	.catalog_thumb:hover .inner {
		height: 440px;
	    width: calc(100% + 20px);
	    top: -10px;
	    left: -10px;
	}

	.catalog_thumb .img-box {
	    height: 190px;
	    margin-bottom: 18px;
	}

	.items a {
	    padding: 5px 31px 5px 22px;
	    font-size: 12px;
	}

	.catalog_thumb:hover .img-box {
	    height: 210px;
	}

	.descript_table .table_row .cell:nth-child(1) {
	    padding: 0 5px 0 0;
	}

	.descript_table .table_row .cell:nth-child(2) {
	    padding: 0 0 0 5px;
	}

	.price_box .cell:nth-child(1) {
	    padding: 0 5px 0 0;
	}

	.price_box .cell:nth-child(2) {
	    padding: 0 0 0 5px;
	}

	.thumb_footer {
	    padding: 5px 38px 0 11px;
	}

	.price {
	    font-size: 23px;
    	line-height: 27px;
	}

	.price .ruble {
	    font-size: 23px;
	    line-height: 27px;
	}

	.thumb_footer .brown_pill {
	    min-width: 100%;
	    max-width: 100%;
	}

	.btns_wrapp .brown_pill {
		padding: 6px 10px;
	}

	.dashed_link {
	    font-size: 12px;
	    line-height: 12px;
	}

	.transparent_pill {
	    min-width: 266px;
	    margin: 15px 0;
	    padding: 8px 10px;
	}

	.thumb_footer .favorite_link_2 {
	    right: 2%;
	}

	.shared_box {
		display: none;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 1 - Card Page --*/

	.total_result {
	    margin: 12px 0 4px 0;
	}

	.totals_wrapp {
	    margin: 7px 0;
	}

	.more_shop .transparent_pill {
	    top: -56px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(4) .close_btn {
		width: 21px;
		height: 21px;
		margin-top: -11px;
		background-size: 54%;
		right: 11px;
	}

	.card_table .price_val,
	.card_table .price_total_val {
		font-size: 16px;
	}

	.table-cell p .fa-ruble-sign {
	    font-size: 12px;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Order Page --*/

	.order_sect .totals_wrapp {
	    margin: 5px 0;
	}

	.two_cols_2 > .left {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.two_cols_2 > .right {
	    width: 100%;
	    float: none;
	    padding: 0 0 0 30px;
	}

	.order_sect h5 {
	    padding-top: 16px;
	    padding-bottom: 14px;
	}

	.sign_box {
		max-width: 372px;
		margin: 18px 0;
	}

	/*-- /Section 1 - Order Page --*/

	/*-- Section 1 - Good Page --*/

	.tabs-links_wrapp {
	    padding: 10px 30px 3px 30px;
	}

	/*-- /Section 1 - Good Page --*/

}

@media only screen and (max-width: 768px) {

	h2 {
	    font-size: 26px;
	    line-height: 30px;
	}

	.row {
	    padding: 0 4%;
	}

	.offer_desc {
		margin: 59px auto 51px auto;
	    background-image: url(img/shape_6_2.png);
	}

	.offer_desc h2 {
	    padding: 5px 0;
	    font-size: 30px;
	    line-height: 32px;
	}

	.offer_desc p.p-desc {
	    padding: 5px 0;
	    font-size: 18px;
	    line-height: 20px;
	}

	.offer_desc .percents_minus {
	    display: inline-block;
	    vertical-align: top;
	    position: relative;
	    margin: 12px 0;
	    padding: 0 103px;
	    font-size: 50px;
	    line-height: 52px;
	}

	.offer_desc .percents_minus:before {
	    width: 70px;
	    height: 37px;
	    position: absolute;
	    top: 4px;
	}

	.offer_desc .percents_minus:after {
	    width: 70px;
	    height: 37px;
	    position: absolute;
	    top: 4px;
	}

	.offer_desc:after {
	    width: 28px;
	    height: 16px;
	}

	.sect_4 {
	    padding: 25px 0 14px 0;
	}

	/*-- Section 1 - Order Page --*/

	.two_cols_2 > .right {
	    padding: 0;
	}

	.reg_form {
	    margin: 0;
	    max-width: 100%;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(1) {
	    width: 24%;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(4) {
	    padding-right: 30px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(4) .close_btn {
	    right: 7px;
	}

	/*-- /Section 1 - Order Page --*/

	/*-- Section 1 - Good Page --*/

	.good-templ .left {
	    width: 49%;
	    padding: 22px 15px 22px 0;
	}

	.good-templ .right {
	    width: 51%;
	    padding: 22px 0 22px 15px;
	}

	.big-slider .img-box {
	    height: 310px;
	}

	.miniature-slider .img-box {
	    height: 60px;
	}

	.tabs-links_wrapp {
	    padding: 16px 30px 3px 30px;
	}

	.tabs-content .tab {
	    padding-top: 10px;
	}

	p.total-price {
	    font-size: 26px;
	    line-height: 30px;
	}

	p.total-price .ruble_2 {
	    width: 14px;
    	height: 20px;
	    top: 4px;
	}

	.tabs-links_4 .tab-link {
	    padding: 7px 1%;
	    font-size: 13px;
	}

	/*-- /Section 1 - Good Page --*/

}

@media only screen and (max-width: 750px) {

	.wrapper {
		padding-top: 150px;
	}

	/*-- Header --*/

	.header-site {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.callback_link a {
	    font-size: 16px;
	}

	.header-site .row-1 {
	    display: none;
	}

	.header-site .callback_wrapp {
		display: none;
	}

	.header-site .header_card {
	    display: none;
	}

	.header-site .row-2 .left {
	    padding: 20px 50px 19px 0;
	}

	.header-site .row-2 .right {
		text-align: right;
		padding: 20px 0 19px 50px;
	}

	.resp_btn {
	    display: block;
	}

	.logo_resp {
	    max-width: 95px;
	    top: 7px;
	}

	.card_pill_resp {
	    display: inline-block;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_box .left {
		padding-top: 0;
	    padding-bottom: 0;
	}

	.promo_box .right {
		padding-top: 0;
	    padding-bottom: 0;
	}

	.slick-slider .slick-arrow {
	    margin-top: -28px;
	}

	.slick-slider .slick-prev {
	    left: 0;
	}

	.slick-slider .slick-next {
	    right: 0;
	}

	.description p.p-desc:after {
	    width: 55px;
	    height: 27px;
	}

	.description p.p-desc:before {
	    width: 55px;
	    height: 27px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- /Section 2 - Main Page --*/

	.two-cols .right {
		width: 100%;
		float: none;
		padding-left: 0;
	}

	#resp_sidebar {
		display: none;
		width: 100%;
		height: 100vh;
		float: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background: #ffffff;
		padding: 20px 5% 50px 5%;
	}

	.resp_sidebar_btn {
	    display: block;
	}

	.resp_sidebar_wrapp {
		position: relative;
	}

	.resp_sidebar_wrapp .resp_sidebar_btn {
		position: absolute;
		top: 0;
		left: 0;
	}

	.catalog_header {
	    display: table;
	    width: 100%;
	    position: relative;
	    padding-top: 5px;
	    padding-left: 60px;
	    padding-right: 0;
	    background-color: transparent;
	    border: 1px solid transparent;
	    border-bottom: 1px dashed #cebca5;
	}

	.catalog_header .resp_sidebar_btn {
		position: absolute;
		top: 0;
		left: 0;
	}

	.catalog_header > .col:nth-child(1),
	.catalog_header > .col:nth-child(2) {
		display: block;
	    width: 100%;
	}

	.dropdowm_select_menu_2 {
	    width: 170px;
	}

	.filter_resp_nav {
		display: block;
		min-height: 100%;
		padding: 12px 30px 12px 0;
		background-color: #ffffff;
		position: absolute;
		top: -2px;
		right: 110%;
		z-index: 3;
		-webkit-transition-property: right;
	    -webkit-transition-duration: .3s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: right;
	    -moz-transition-duration: .3s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: right;
	    -ms-transition-duration: .3s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: right;
	    -o-transition-duration: .3s;
	    -o-transition-timing-function: ease;

	    transition-property: right;
	    transition-duration: .3s;
	    transition-timing-function: ease;
	}

	.filter_resp_nav.active {
		right: 0;
	}

	.filter_resp_nav .close_btn {
	    display: block;
	}

	.dropdowm_select_menu_2 {
	    display: inline-block;
	    vertical-align: top;
	}

	.dropdowm_select_menu_2 .select_input {
	    font-size: 13px;
	}

	.dropdowm_select_menu_2 .fa-angle-down {
		display: inline-block;
		vertical-align: middle;
		width: 25px;
		height: 25px;
		border: 1px solid #f0eeea;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		font-size: 13px;
		color: rgb(144, 125, 111);
		line-height: 1.2;
	}

	.dropdowm_select_menu_2 .fa-angle-down:before {
	    position: relative;
	    top: 4px;
	}

	.dropdowm_select_menu_2 {
		margin-left: -10px;
	}

	.filters_resp {
		display: block;
		float: right;
		width: 110px;
		margin: 5px -10px 5px 0;
	}

	#resp_sidebar .close_btn_2 {
	    display: block;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.sect_5 {
	    padding: 29px 0 0 0;
	}

	.goods_slider .catalog_thumb {
	    margin: 20px 0 24px 0;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 1 - Card Page --*/

	.card_table {
		max-width: 500px;
	    margin-top: 25px;
	}

	.card_table .table-row:nth-child(1) {
	    display: none;
	}

	.card_table_2 .table-row:nth-child(1) {
	    display: block;
	}

	.card_table .table-row .inline-table:nth-child(1),
	.card_table .table-row .inline-table:nth-child(2) {
	    width: 100%;
	}

	.card_table .inline-table:nth-child(1) .table-cell:nth-child(1) {
	    width: 150px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(1) {
	    display: none;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(2) {
	    width: 150px;
	    padding-left: 19px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(3) {
	    display: none;
	}

	.card_table .inline-table:nth-child(1) .table-cell {
	    padding-bottom: 9px;
	}

	.card_table .inline-table:nth-child(2) .table-cell {
	    padding-top: 9px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(4) .close_btn {
	    margin-top: -15px;
	}

	.card_table .app_p {
	    display: block;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Good Page --*/

	.good-templ .left {
	    width: 100%;
	    float: none;
	    padding: 22px 0 12px 0;
	}

	.good-templ .right {
	    width: 100%;
	    float: none;
	    padding: 12px 0 0 0;
	}

	.big-slider_wrapp {
		max-width: 434px;
		margin: 0 auto;
	}

	.good-info-header > .col:nth-child(1),
	.good-info-header > .col:nth-child(2) {
	    padding: 0;
	}

	.good-info_sect .inner-row {
	    padding: 9px 15px 16px 15px;
	    text-align: center;
	}

	.good-total-price {
		display: inline-block !important;
		vertical-align: top;
		width: auto !important;
	}

	.tabs {
	    margin: 10px 0 0 0;
	}

	.tabs-links_wrapp {
	    padding: 6px 15px 3px 15px;
	}

	.tabs-content .tab {
	    padding-top: 8px;
	}

	.good_table h3 {
	    padding: 0 0 0 15px;
	}

	.slBtnWrapp {
	    padding: 30px 15px 0 15px;
	}

	.good-info_sect .three-cols {
	    padding: 0 15px;
	}

	.inner-row_3 {
	    padding: 18px 15px 18px 15px;
	}

	.good_table h3.resp_h {
	    width: 157px;
	}

	.yellow_box {
	    padding: 28px 15px;
	}

	.tab_inner {
	    padding: 9px 15px;
	}

	/*-- /Section 1 - Good Page --*/

	/*-- Footer --*/

	.footer_col {
	    width: 49%;
	    padding-top: 14px;
	}

	.footer_col:last-child {
	    width: 100%;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 670px) {

	/*-- Header --*/

	.row_3_content > .col:nth-child(1) {
	    display: block;
	    padding-right: 0;
	}

	.row_3_content > .col:nth-child(2) {
	    display: none;
	}

	/*-- /Header --*/

	/*-- Section 1 - Card Page --*/

	.totals_wrapp {
	    width: 100%;
	}

	.totals_wrapp .align-right {
		text-align: center;
	}

	.more_shop {
	    height: auto;
	    text-align: center;
	}

	.more_shop .transparent_pill {
	    top: 0;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Order Page --*/

	.tabs_2 {
	    margin: 8px 0;
	}

	.tabs-links_2 .tab-link {
		display: block;
	    margin: 3px 0;
	}

	.order_sect {
	    padding: 15px 0;
	}

	.form_2 {
	    margin: 11px 0 13px 0;
	}

	.form_2 textarea {
	    margin: 10px 0;
	}

	.two-cols_3 .left {
	    width: 100%;
	    text-align: center;
	}

	.two-cols_3 .right {
	    width: 100%;
	    float: none;
	    text-align: center;
	}

	/*-- /Section 1 - Order Page --*/

}

@media only screen and (max-width: 600px) {

	.row {
	    padding: 0 15px;
	}

	/*-- Section 4 - Main Page --*/

	.article_thumb .img-box {
	    height: 190px;
	}

	.articles_slider_2 .slick-arrow {
	    margin-top: 85px;
	    top: 0;
	}

	.article_thumb .description {
	    padding-left: 10px;
	    padding-right: 10px;
	}

	/*-- /Section 4 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.goods_slider {
		position: relative;
	}

	.goods_slider .slick-arrow {
		margin-top: 126px !important;
		top: 0;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 6 - Main Page --*/

	.photo_thumb .img-box {
	    height: 140px;
	}

	/*-- /Section 6 - Main Page --*/

	/*--  Section 1 - Order Page --*/

	.sign_box {
	    margin: 18px auto;
	}

	/*-- /Section 1 - Order Page --*/

	/*-- Footer --*/

	.footer_row_1 {
		padding-top: 18px !important;
	}

	.footer_row_1 .left {
	    padding: 5px 0;
	}

	.footer_row_1 .rigth {
	    padding: 5px 0;
	}

	.footer_section h3 {
	    font-size: 17px;
	    line-height: 28px;
	}

	.callback_from_wrapp {
	    display: block;
	    width: 100%;
	    margin: 0;
	}

	.callback_from_wrapp .callback_from {
	    display: block;
	    width: 100%;
	    margin: 15px 0;
	    padding: 0;
	}

	.callback_from_wrapp .p_wrapp {
	    display: block;
	    width: 100%;
	    margin: 15px 0;
	    padding: 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 550px) {

	/*-- Section 1 - Card Page --*/

	.reg_form_2 > .left {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.reg_form_2 > .right {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.input-two-cols .input_wrapp:nth-child(1) {
	    width: 100%;
	    margin: 0;
	}

	.input-two-cols .input_wrapp:nth-child(2) {
	    width: 100%;
	    margin: 0;
	}

	.input-two-cols_3 .input_wrapp:nth-child(1) {
	    width: 100%;
	    margin: 0;
	}

	.input-two-cols_3 .input_wrapp:nth-child(2) {
	    width: calc( 50% - 4px );
	}

	.input-two-cols_3 .input_wrapp:nth-child(3) {
	    width: calc( 50% - 4px );
	}

	/*-- /Section 1 - Card Page --*/

}

@media only screen and (max-width: 480px) {

	h2 {
	    font-size: 21px;
	    line-height: 27px;
	}

	.transparent_pill {
		padding: 4px 10px;
	    font-size: 12px;
	}

	/*-- Header --*/

	.search_inner > .col:nth-child(1) {
	    border-right: none;
	}

	.search_inner > .col:nth-child(2) {
		display: none;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo_box .left {
	    padding: 0;
	}

	.promo_box .right {
	    padding: 0;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.filter_list {
	    margin: 0 -4px;
	}

	.checkbox_2 {
	    margin: 4px;
	}

	.catalog_thumbs {
	    margin: 8px -5px 15px -5px;
	}

	.catalog_thumb {
		width: calc(50% - 10px);
		margin: 5px;
	    height: 312px;
	}

	.catalog_thumb .inner {
	    width: 100%;
	    height: 312px;
	    padding: 5px;
	}

	.catalog_thumb:hover .inner {
	    height: 322px;
	    width: calc(100% + 10px);
	    top: -5px;
	    left: -5px;
	}

	.catalog_thumb .img-box {
	    height: 115px;
	    margin-bottom: 13px;
	}

	.catalog_thumb:hover .img-box {
	    height: 125px;
	}

	.descript_table {
		margin: 4px 0;
	}

	.descript_table p {
	    font-size: 12px;
	    line-height: 14px;
	}

	.old_price {
	    padding: 5px 2px 0 2px;
	    font-size: 15px;
	    line-height: 25px;
	}

	.old_price .ruble {
	    position: relative;
	    top: 4px;
	}

	.price {
	    font-size: 19px;
	    line-height: 25px;
	}

	.price .ruble {
		position: relative;
	    top: -1px;
	    font-size: 20px;
	    line-height: 26px;
	}

	.price .ruble:before {
	    height: 1px;
	    top: 66%;
	}

	.thumb_footer .brown_pill {
		min-width: 100%;
	    max-width: 104px;
	    margin: 2px 0;
	    padding: 6px 6px;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.offer_desc .percents_minus {
	    padding: 0 74px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.goods_slider .slick-arrow {
	    margin-top: 66px !important;
	}

	/*-- /Section 5 - Main Page --*/

	.card_table .inline-table:nth-child(1) .table-cell:nth-child(1) {
	    width: 130px;
	}

	.card_table .inline-table:nth-child(2) .table-cell:nth-child(2) {
	    width: 130px;
	    padding-left: 19px;
	}

	/*--  Section 1 - Order Page --*/

	.tabs {
	    margin: 10px 0;
	}

	.tabs-links .tab-link {
	    margin: 3px 7px 3px 15px;
	}

	.sign_box {
	    padding: 34px 20px 8px 20px;
	}

	.sign_box h2 {
	    font-size: 30px;
	    line-height: 32px;
	}

	/*-- /Section 1 - Order Page --*/

	/*-- Footer --*/

	.footer_row_1 {
	    padding-bottom: 18px !important;
	}

	.footer_row_2 {
	    padding-bottom: 7px;
	}

	.footer_row_2 .left {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.footer_row_2 .right {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	p.license {
	    text-align: left;
	}

	.scroll-top_wrapp {
	    bottom: 82px;
	}

	/*-- /Footer --*/

	/*-- Popup --*/

	.popup {
	    padding: 34px 15px 8px 15px;
	}

	.popup h2 {
	    font-size: 24px;
	}

	/*-- /Popup --*/
	
}

@media only screen and (max-width: 450px) {

	/*-- Section 1 - Card Page --*/

	.cupon_wrapp {
		display: block;
		padding: 0 10px 5px 10px;
	}

	.cupon_wrapp .col:nth-child(1) {
	    display: block;
	    padding: 0;
	}

	.cupon_wrapp .col:nth-child(2) {
	    display: block;
	    width: 100%;
	    padding: 0 10px;
	}

	.cupon_wrapp .brown_pill_2 {
	    margin-top: 0;
	}

	.total_result .total .cell:nth-child(1) p {
	    font-size: 15px;
	}

	/*-- /Section 1 - Card Page --*/

}

@media only screen and (max-width: 430px) {

	/*-- Section 2 - Main Page --*/

	.catalog_thumb {
		display: block;
	    width: calc(90% - 20px);
	    margin: 10px auto;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 5 - Main Page --*/

	.card_table .inline-table:nth-child(1) .table-cell {
	    padding-bottom: 2px;
	}

	.goods_slider .slick-slide {
		text-align: center;
	}

	.goods_slider .slick-slide .catalog_thumb {
		width: 90% !important;
		max-width: 300px !important;
	}

	/*-- /Section 5 - Main Page --*/

	/*-- Section 1 - Card Page --*/

	.card_table p {
	    font-size: 12px;
	}

	.card_table .price_val,
	.card_table .price_total_val {
	    font-size: 16px;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Good Page --*/

	.big-slider .slick-prev {
	    left: -10px !important;
	}

	.big-slider .slick-next {
	    right: -10px !important;
	}

	.big-slider .img-box {
	    height: 200px;
	}

	.miniature-slider {
	    margin: 0;
	}

	.miniature-slider .img-box {
	    height: 55px;
	}

	.miniature-slider .slide {
	    padding: 1px;
	}

	/*-- /Section 1 - Good Page --*/

}

@media only screen and (max-width: 410px) {

	h1 {
	    font-size: 20px;
	    line-height: 25px;
	}

	/*-- Section 1 - Order Page --*/

	.input-two-cols_2 .input_wrapp:nth-child(1) {
	    width: 100%;
	    margin: 0;
	}

	.input-two-cols_2 .input_wrapp:nth-child(2) {
	    width: 100%;
	    margin: 0;
	}

	/*-- /Section 1 - Order Page --*/

}

@media only screen and (max-width: 390px) {

	/*-- Section 2 - Main Page --*/

	.dropdowm_select_menu_2 {
	    width: 142px;
	}

	.dropdowm_select_menu_2 .select_input {
	    font-size: 11px;
	}

	.dropdowm_select_menu_2 .fa-angle-down {
	    margin-left: 0;
	}

	.resp_sidebar_wrapp .resp_sidebar_btn {
	    left: -10px;
	}

	.catalog_header {
	    padding-left: 40px;
	}

	.filters_resp {
	    width: 93px;
	}

	.text_btn {
	    font-size: 11px;
	}

	.text_btn .fa-angle-right {
	    margin-left: 3px;
	}

	.dropdowm_select_menu_2 {
	    width: 147px;
	}

	.select_input {
	    padding: 1px 32px 1px 13px;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 1 - Good Page --*/

	.black_link {
	    font-size: 11px;
	    line-height: 21px;
	    font-weight: bold;
	}

	/*-- /Section 1 - Good Page --*/

}

@media only screen and (max-width: 370px) {

	/*-- Section 1 - Order Page --*/

	.payment_thumbs {
	    text-align: center;
	    margin: 0 -2px;
	}

	.total_result .total .cell:nth-child(2) p {
	    font-size: 25px;
	}

	.total_result .total .cell:nth-child(2) p i {
	    font-size: 21px;
	}

	/*-- /Section 1 - Order Page --*/

}

@media only screen and (min-width: 901px) {

	.promo_box .left {
		display: block !important;
		float: left !important
	}

	.promo_box .right {
		display: block !important;
		float: right !important
	}

}

@media only screen and (min-width: 751px) {

	#resp_sidebar {
		display: block !important;
	}

	.resp_nav {
		display: none !important;
	}

}

@media only screen and (min-width: 1125px) {

	.good_table_wrapp {
		height: auto !important;
	}

}